rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * @description Protects user profiles. Only the user can read and write their own profile.
     * @path /users/{userId}
     * @allow (get, update, delete) User 'BHdPOtZLFTUdD8p0qy7MBPHehNP2' can access their own profile.
     * @allow (create) User 'BHdPOtZLFTUdD8p0qy7MBPHehNP2' can create their profile.
     * @deny (get, update, delete) User 'OtherUserId' cannot access User 'BHdPOtZLFTUdD8p0qy7MBPHehNP2' profile.
     * @principle Enforces user-ownership for user profiles.
     */
    match /users/{userId} {
      function isOwner(userId) {
        return request.auth != null && request.auth.uid == userId;
      }
      allow get: if isOwner(userId);
      allow list: if false;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }

    /**
     * @description Protects designs created by users. Only the owner can read, write, and delete their own designs.
     * @path /users/{userId}/designs/{designId}
     * @allow (create, get, update, delete, list) User 'BHdPOtZLFTUdD8p0qy7MBPHehNP2' can create, read, update, delete and list their own designs.
     * @deny (create, get, update, delete) User 'OtherUserId' cannot access User 'BHdPOtZLFTUdD8p0qy7MBPHehNP2' designs.
     * @principle Enforces document ownership for writes, allows owner-only reads.
     */
    match /users/{userId}/designs/{designId} {
      function isOwner(userId) {
        return request.auth != null && request.auth.uid == userId;
      }
      allow get: if isOwner(userId);
      allow list: if isOwner(userId);
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }

    /**
     * @description Makes templates publicly readable. Only admins can create, update and delete them (backend only).
     * @path /templates/{templateId}
     * @allow (get, list) Any user can read templates.
     * @deny (create, update, delete) No client-side creation, updates, or deletes of templates.
     * @principle Allows public read access to templates, restricts writes to backend.
     */
    match /templates/{templateId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }
  }

  function isSignedIn() {
    return request.auth != null;
  }
}