
@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  font-family: var(--font-sans), 'Instrument Serif', Arial, Helvetica, sans-serif;
  
  background-image: 
  url("https://www.transparenttextures.com/patterns/project-paper.png")
  /*linear-gradient(to top right, #FEAC5E, #C779D0, #4BC0C8);*/ ;
  background-color: var(--background);
  background-blend-mode: overlay;
  min-height: 100vh;
  background-attachment: fixed;
}

@layer base {
  :root {
    --background: hsl(210 20% 98%);
    --foreground: hsl(221 52% 25%);
    --card: hsl(200 100% 98%);
    --card-foreground: hsl(221 52% 25%);
    --popover: hsl(200 100% 98%);
    --popover-foreground: hsl(221 52% 25%);
    --primary: hsl(33 99% 68%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(181.6901 43.5583% 68.0392%);
    --secondary-foreground: hsl(0 0% 20%);
    --muted: hsl(210 16% 90%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(292 55% 65%);
    --accent-foreground: hsl(221 52% 25%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(24 12% 80%);
    --input: hsl(24 12% 80%);
    --ring: hsl(208 100% 37%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.4rem;
    --sidebar: hsl(220 22% 95%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
  
  .dark {
    --background: hsl(221 52% 15%);
    --foreground: hsl(220 22% 95%);
    --card: hsl(221 52% 15%);
    --card-foreground: hsl(220 22% 95%);
    --popover: hsl(221 52% 15%);
    --popover-foreground: hsl(220 22% 95%);
    --primary: hsl(208 100% 47%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(221 52% 25%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(221 52% 25%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(204 77% 62%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(24 12% 40%);
    --input: hsl(24 12% 40%);
    --ring: hsl(208 100% 47%);
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
    
@layer utilities {
  .responsive-text-sm {
    /* min, preferred, max */
    font-size: clamp(0.65rem, 3.5vw - 1rem, 1.4rem);
  }
}

@media (max-width: 767px) {
  .mobile-tab-content {
    overflow-y: auto;
    max-height: 70vh;
  }

  #designs-container {
    padding-bottom: 80px; 
  }
}

.bullet-indicator[data-active="true"] {
  @apply bg-primary opacity-100 scale-125;
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#21d4fd, #b721ff);
  background: linear-gradient(var(--secondary-foreground), var(--secondary-foreground));
  border-radius: 100px;
}
    
