
@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  font-family: Arial, Helvetica, sans-serif;
  
  background-image: 
  
  url("https://www.transparenttextures.com/patterns/project-paper.png")
  /*linear-gradient(to top right, #FEAC5E, #C779D0, #4BC0C8);*/ ;
  background-color: hsl(var(--background));
  min-height: 100vh;
  background-attachment: fixed;
  
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 221 52% 25%;
    --card: 200 100% 98%;
    --card-foreground: 221 52% 25%;
    --popover: 200 100% 98%;
    --popover-foreground: 221 52% 25%;
    --primary: 33 99% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 181.6901 43.5583% 68.0392%;
    --secondary-foreground: 0 0% 20%;
    --muted: 210 16% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 292 55% 65%;
    --accent-foreground: 221 52% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 12% 80%;
    --input: 24 12% 80%;
    --ring: 208 100% 37%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.4rem;
    --sidebar: 220 22% 95%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --neon-text-color: #ff4400;
  }
  .dark {
    --background: 221 52% 15%;
    --foreground: 220 22% 95%;
    --card: 221 52% 15%;
    --card-foreground: 220 22% 95%;
    --popover: 221 52% 15%;
    --popover-foreground: 220 22% 95%;
    --primary: 208 100% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 221 52% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 52% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 204 77% 62%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 12% 40%;
    --input: 24 12% 40%;
    --ring: 208 100% 47%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .bubblegum
  {
    --background: 330 47.0588% 93.3333%;
    --foreground: 0 0% 35.6863%;
    --card: 41.5385 92.8571% 89.0196%;
    --card-foreground: 0 0% 35.6863%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 35.6863%;
    --primary: 325.5814 57.8475% 56.2745%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181.6901 43.5583% 68.0392%;
    --secondary-foreground: 0 0% 20%;
    --muted: 190.5263 58.7629% 80.9804%;
    --muted-foreground: 0 0% 47.8431%;
    --accent: 42.1429 91.3043% 81.9608%;
    --accent-foreground: 0 0% 20%;
    --destructive: 359.5652 92.0000% 70.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 325.5814 57.8475% 56.2745%;
    --input: 0 0% 89.4118%;
    --ring: 330 70.2381% 67.0588%;
    --chart-1: 330 70.2381% 67.0588%;
    --chart-2: 190.2128 61.8421% 70.1961%;
    --chart-3: 42.1429 91.3043% 81.9608%;
    --chart-4: 329.6386 77.5701% 79.0196%;
    --chart-5: 330.6294 64.1256% 56.2745%;
    --sidebar: 326.2500 69.5652% 90.9804%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 330.3659 81.1881% 60.3922%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 327.4074 87.0968% 81.7647%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 268.6957 100.0000% 95.4902%;
    --sidebar-ring: 330.3659 81.1881% 60.3922%;
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.4rem;
    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1.0;
    --shadow-color: 325.78 58.18% 56.86% / 0.5;
    --shadow-2xs: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 0.50;
    --shadow-xs: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 0.50;
    --shadow-sm: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 1.00, 3px 1px 2px -1px 325.7800 58.1800% 56.8600% / 1.00;
    --shadow: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 1.00, 3px 1px 2px -1px 325.7800 58.1800% 56.8600% / 1.00;
    --shadow-md: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 1.00, 3px 2px 4px -1px 325.7800 58.1800% 56.8600% / 1.00;
    --shadow-lg: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 1.00, 3px 4px 6px -1px 325.7800 58.1800% 56.8600% / 1.00;
    --shadow-xl: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 1.00, 3px 8px 10px -1px 325.7800 58.1800% 56.8600% / 1.00;
    --shadow-2xl: 3px 3px 0px 0px 325.7800 58.1800% 56.8600% / 2.50;
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  .nature{
    --background: 37.5000 36.3636% 95.6863%;
    --foreground: 8.8889 27.8351% 19.0196%;
    --card: 37.5000 36.3636% 95.6863%;
    --card-foreground: 8.8889 27.8351% 19.0196%;
    --popover: 37.5000 36.3636% 95.6863%;
    --popover-foreground: 8.8889 27.8351% 19.0196%;
    --primary: 123.0380 46.1988% 33.5294%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124.6154 39.3939% 93.5294%;
    --secondary-foreground: 124.4776 55.3719% 23.7255%;
    --muted: 33.7500 34.7826% 90.9804%;
    --muted-foreground: 15.0000 25.2874% 34.1176%;
    --accent: 122 37.5000% 84.3137%;
    --accent-foreground: 124.4776 55.3719% 23.7255%;
    --destructive: 0 66.3866% 46.6667%;
    --destructive-foreground: 0 0% 100%;
    --border: 33.9130 27.0588% 83.3333%;
    --input: 33.9130 27.0588% 83.3333%;
    --ring: 123.0380 46.1988% 33.5294%;
    --chart-1: 122.4242 39.4422% 49.2157%;
    --chart-2: 122.7907 43.4343% 38.8235%;
    --chart-3: 123.0380 46.1988% 33.5294%;
    --chart-4: 124.4776 55.3719% 23.7255%;
    --chart-5: 125.7143 51.2195% 8.0392%;
    --sidebar: 34 35% 91%;
    --sidebar-foreground: 8.8889 27.8351% 19.0196%;
    --sidebar-primary: 123.0380 46.1988% 33.5294%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 122 37.5000% 84.3137%;
    --sidebar-accent-foreground: 124.4776 55.3719% 23.7255%;
    --sidebar-border: 33.9130 27.0588% 83.3333%;
    --sidebar-ring: 123.0380 46.1988% 33.5294%;
    --font-sans: Montserrat, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Source Code Pro, monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px 0 0% 0% / 0.05;
    --shadow-xs: 0 1px 3px 0px 0 0% 0% / 0.05;
    --shadow-sm: 0 1px 3px 0px 0 0% 0% / 0.10, 0 1px 2px -1px 0 0% 0% / 0.10;
    --shadow: 0 1px 3px 0px 0 0% 0% / 0.10, 0 1px 2px -1px 0 0% 0% / 0.10;
    --shadow-md: 0 1px 3px 0px 0 0% 0% / 0.10, 0 2px 4px -1px 0 0% 0% / 0.10;
    --shadow-lg: 0 1px 3px 0px 0 0% 0% / 0.10, 0 4px 6px -1px 0 0% 0% / 0.10;
    --shadow-xl: 0 1px 3px 0px 0 0% 0% / 0.10, 0 8px 10px -1px 0 0% 0% / 0.10;
    --shadow-2xl: 0 1px 3px 0px 0 0% 0% / 0.25;

  }
  .dark-supabase {
    --background: 0 0% 7.0588%;
    --foreground: 214.2857 31.8182% 91.3725%;
    --card: 0 0% 9.0196%;
    --card-foreground: 214.2857 31.8182% 91.3725%;
    --popover: 0 0% 14.1176%;
    --popover-foreground: 0 0% 66.2745%;
    --primary: 154.8980 100.0000% 19.2157%;
    --primary-foreground: 152.7273 19.2982% 88.8235%;
    --secondary: 0 0% 14.1176%;
    --secondary-foreground: 0 0% 98.0392%;
    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.5294%;
    --accent: 0 0% 19.2157%;
    --accent-foreground: 0 0% 98.0392%;
    --destructive: 6.6667 60.0000% 20.5882%;
    --destructive-foreground: 12.0000 12.1951% 91.9608%;
    --border: 0 0% 16.0784%;
    --input: 0 0% 14.1176%;
    --ring: 141.8919 69.1589% 58.0392%;
    --chart-1: 141.8919 69.1589% 58.0392%;
    --chart-2: 213.1169 93.9024% 67.8431%;
    --chart-3: 255.1351 91.7355% 76.2745%;
    --chart-4: 43.2558 96.4126% 56.2745%;
    --chart-5: 172.4551 66.0079% 50.3922%;
    --sidebar: 0 0% 7.0588%;
    --sidebar-foreground: 0 0% 53.7255%;
    --sidebar-primary: 154.8980 100.0000% 19.2157%;
    --sidebar-primary-foreground: 152.7273 19.2982% 88.8235%;
    --sidebar-accent: 0 0% 19.2157%;
    --sidebar-accent-foreground: 0 0% 98.0392%;
    --sidebar-border: 0 0% 16.0784%;
    --sidebar-ring: 141.8919 69.1589% 58.0392%;
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.17;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 3px 0px 0 0% 0% / 0.09;
    --shadow-xs: 0px 1px 3px 0px 0 0% 0% / 0.09;
    --shadow-sm: 0px 1px 3px 0px 0 0% 0% / 0.17, 0px 1px 2px -1px 0 0% 0% / 0.17;
    --shadow: 0px 1px 3px 0px 0 0% 0% / 0.17, 0px 1px 2px -1px 0 0% 0% / 0.17;
    --shadow-md: 0px 1px 3px 0px 0 0% 0% / 0.17, 0px 2px 4px -1px 0 0% 0% / 0.17;
    --shadow-lg: 0px 1px 3px 0px 0 0% 0% / 0.17, 0px 4px 6px -1px 0 0% 0% / 0.17;
    --shadow-xl: 0px 1px 3px 0px 0 0% 0% / 0.17, 0px 8px 10px -1px 0 0% 0% / 0.17;
    --shadow-2xl: 0px 1px 3px 0px 0 0% 0% / 0.43;
  }
  .candyland{
    --background: 200 23.0769% 97.4510%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 349.5238 100% 87.6471%;
    --primary-foreground: 0 0% 0%;
    --secondary: 197.4000 71.4286% 72.5490%;
    --secondary-foreground: 0 0% 0%;
    --muted: 50.4000 26.8817% 81.7647%;
    --muted-foreground: 0 0% 43.1373%;
    --accent: 60 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 83.1373%;
    --input: 0 0% 83.1373%;
    --ring: 349.5238 100% 87.6471%;
    --chart-1: 349.5238 100% 87.6471%;
    --chart-2: 197.4000 71.4286% 72.5490%;
    --chart-3: 60 100% 50%;
    --chart-4: 330 100.0000% 80%;
    --chart-5: 120 60.0000% 50%;
    --sidebar: 200 23.0769% 97.4510%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 349.5238 100% 87.6471%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 60 100% 50%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 83.1373%;
    --sidebar-ring: 349.5238 100% 87.6471%;
    --font-sans: Poppins, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Roboto Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px 0 0% 0% / 0.05;
    --shadow-xs: 0 1px 3px 0px 0 0% 0% / 0.05;
    --shadow-sm: 0 1px 3px 0px 0 0% 0% / 0.10, 0 1px 2px -1px 0 0% 0% / 0.10;
    --shadow: 0 1px 3px 0px 0 0% 0% / 0.10, 0 1px 2px -1px 0 0% 0% / 0.10;
    --shadow-md: 0 1px 3px 0px 0 0% 0% / 0.10, 0 2px 4px -1px 0 0% 0% / 0.10;
    --shadow-lg: 0 1px 3px 0px 0 0% 0% / 0.10, 0 4px 6px -1px 0 0% 0% / 0.10;
    --shadow-xl: 0 1px 3px 0px 0 0% 0% / 0.10, 0 8px 10px -1px 0 0% 0% / 0.10;
    --shadow-2xl: 0 1px 3px 0px 0 0% 0% / 0.25;

  }
  .violet-bloom{
    --background: 0 0% 99.2157%;
    --foreground: 0 0% 0%;
    --card: 0 0% 99.2157%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 0%;
    --primary: 257.9412 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.2857 24.1379% 94.3137%;
    --secondary-foreground: 0 0% 3.1373%;
    --muted: 0 0% 96.0784%;
    --muted-foreground: 0 0% 32.1569%;
    --accent: 221.3793 100% 94.3137%;
    --accent-foreground: 216.3158 76% 49.0196%;
    --destructive: 358.4416 74.7573% 59.6078%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 17.0732% 91.9608%;
    --input: 0 0% 92.1569%;
    --ring: 0 0% 0%;
    --chart-1: 148.0952 53.3898% 53.7255%;
    --chart-2: 257.9412 100% 60%;
    --chart-3: 24.8571 98.1308% 58.0392%;
    --chart-4: 217.0787 76.7241% 54.5098%;
    --chart-5: 0 0% 45.4902%;
    --sidebar: 210 42.8571% 97.2549%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 92.1569%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 0%;
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.4rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.16;
    --shadow-color: 0 0% 0%;
    --shadow-2xs: 0px 2px 3px 0px 0 0% 0% / 0.08;
    --shadow-xs: 0px 2px 3px 0px 0 0% 0% / 0.08;
    --shadow-sm: 0px 2px 3px 0px 0 0% 0% / 0.16, 0px 1px 2px -1px 0 0% 0% / 0.16;
    --shadow: 0px 2px 3px 0px 0 0% 0% / 0.16, 0px 1px 2px -1px 0 0% 0% / 0.16;
    --shadow-md: 0px 2px 3px 0px 0 0% 0% / 0.16, 0px 2px 4px -1px 0 0% 0% / 0.16;
    --shadow-lg: 0px 2px 3px 0px 0 0% 0% / 0.16, 0px 4px 6px -1px 0 0% 0% / 0.16;
    --shadow-xl: 0px 2px 3px 0px 0 0% 0% / 0.16, 0px 8px 10px -1px 0 0% 0% / 0.16;
    --shadow-2xl: 0px 2px 3px 0px 0 0% 0% / 0.40;
    --tracking-normal: -0.025em;
    --spacing: 0.27rem;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
    
@layer utilities {
  .responsive-text-sm {
    /* min, preferred, max */
    font-size: clamp(0.65rem, 3.5vw - 1rem, 0.875rem);
  }
}


@media (max-width: 767px) {
  .mobile-tab-content {
    overflow-y: auto;
    max-height: 70vh;
  }

  #designs-container {
    padding-bottom: 80px; 
  }
}

.animated-gradient-border {
    position: relative;
    z-index: 0;
    border-radius: 8px; /* Corresponds to 'rounded-lg' */
}

.animated-gradient-border::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -2%;
    width: 104%;
    height: 104%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

